{% extends "header.html" %} {% set hideEditorButton = True %} {% set pageName = 'Challenge Editor' %} {% block content %}
<link rel="stylesheet" href="static/editorstyle.css">
<div class="modalContainer" style="position: fixed; width: 100vw; height: 100vh; display: flex; align-items: center; justify-content: center; z-index: 100; pointer-events: none;">
    <div id="changeTitle" class="modal" style="position: absolute;">
        <h1 style="margin-top: 0;">Change Title</h1>
        <input onkeydown="if(event.keyCode == 13) {completeChangeTitle();}" type="text" style="width: 100%; box-sizing: border-box; height: 32px;" placeholder="New title">
        <button style="margin-top: 16px;" onclick="completeChangeTitle()">Change Title</button>
        <button class="hoverfancy" style="position: absolute; top: 16px; right: 16px; width: 48px; height: 48px; display: flex; align-items: center; justify-content: center;" onclick="closeModal('changeTitle')"><i class="material-icons" style="color: white;">close</i></button>
    </div>
</div>
<div class="editor-main" onresize="editor.layout()">
    <div class="sidebar" style="overflow-x: hidden;">
        <h1 id="challengeName" style="margin-bottom: 8px;">Loading...</h1>
        <button onclick="startChangeTitle()" style="margin-left: 0;">Change Title</button>
        <p id="challengeInstructions">Loading...</p>
        <div id="htmlEditorContainer" style="height: 50%; margin-top: 24px; position: relative;">
            <div id="html_uploadStatusDiv" class="uploadStatusDiv"><i class="material-icons uploadStatusIcon" style="margin-right: 4px;">cloud_done</i><span class="uploadStatusText">Saved</span></div>
        </div>
    </div>
    <div id="monacoContainer">
        <div id="uploadStatusDiv" class="uploadStatusDiv"><i class="material-icons uploadStatusIcon" style="margin-right: 4px;">cloud_done</i><span class="uploadStatusText">Saved</span></div>
    </div>
    <div class="sidebar">
        <h1>Test and Publish</h1>
        <button id="runbutton" onclick="runcode()" class="fancybutton" style="width: 100%; margin: 0;" onmouseover="this.classList.remove('fancybutton_on', 'fancybutton_error'); this.innerHTML='Run Tests'">Run Tests</button>
        <p style="font-family: monospace; font-size: 14px;">(<input id="argin" type="text" class="argin monofont" placeholder="args">)</p>
        <p id="resultText" class="monofont">No output</p>
    </div>
</div>
<!-- <script src="https://unpkg.com/monaco-editor@latest/min/vs/loader.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.22.3/min/vs/loader.min.js" integrity="sha512-+8+MX2hyUZxaUfMJT0ew+rPsrTGiTmCg8oksa6uVE/ZlR/g3SJtyozqcqDGkw/W785xYAvcx1LxXPP+ywD0SNw==" crossorigin="anonymous"></script>
<script>
    var knowCode = "";
    var html_knowCode = "";
    var myContentID = "{{myContentID}}"
    var uploadInstanceCount = 1;
    var uploadFlag = false;
    var html_uploadFlag = false;
    document.querySelector('body').style.overflow = "hidden";
    var uploadStatusDiv = document.querySelector('#uploadStatusDiv')
    var uploadStatusIcon = document.querySelector('#uploadStatusDiv .uploadStatusIcon')
    var uploadStatusText = document.querySelector('#uploadStatusDiv .uploadStatusText')
    var html_uploadStatusDiv = document.querySelector('#html_uploadStatusDiv')
    var html_uploadStatusIcon = document.querySelector('#html_uploadStatusDiv .uploadStatusIcon')
    var html_uploadStatusText = document.querySelector('#html_uploadStatusDiv .uploadStatusText')
    var runbutton = document.getElementById('runbutton');
    require.config({
        paths: {
            'vs': 'https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.22.3/min/vs'
        }
    });
    let htmlEditor;
    let editor;
    fetch('/contentget?id=' + myContentID).then(response => response.json()).then(data => require(["vs/editor/editor.main"], function() {
        console.log(data)
        editor = monaco.editor.create(document.getElementById('monacoContainer'), {
            value: data['data']['code'],
            language: 'java',
            theme: 'vs-dark',
            minimap: {
                enabled: false
            },
            automaticLayout: true,
            wordWrap: true,
            fontFamily: "DM Mono, monospace",
            disableMonospaceOptimizations: true
        });
        document.getElementById('challengeName').innerHTML = data['data']['title']
        document.getElementById('challengeInstructions').innerHTML = data['data']['instructions']
        htmlEditor = monaco.editor.create(document.getElementById('htmlEditorContainer'), {
            value: data['data']['instructions'],
            language: 'html',
            theme: 'vs-dark',
            lineNumbers: 'off',
            glyphMargin: false,
            lineDecorationsWidth: 0,
            lineNumbersMinChars: 0,
            folding: false,
            minimap: {
                enabled: false
            },
            automaticLayout: true,
            wordWrap: true,
            fontFamily: "DM Mono, monospace",
            disableMonospaceOptimizations: true
        });
        knowCode = data['data']['code'];
        html_knowCode = data['data']['instructions']
        setInterval(() => {
            if (editor.getValue() != knowCode) {
                uploadStatusDiv.style.backgroundColor = "#ffdd00"
                uploadStatusText.innerHTML = "Saving..."
                uploadStatusIcon.innerHTML = "sync"
                uploadFlag = true;
            } else {
                uploadStatusDiv.style.backgroundColor = "#00ff00"
                uploadStatusText.innerHTML = "Saved"
                uploadStatusIcon.innerHTML = "cloud_done"
            }
            if (htmlEditor.getValue() != html_knowCode) {
                html_uploadStatusDiv.style.backgroundColor = "#ffdd00"
                html_uploadStatusText.innerHTML = "Saving..."
                html_uploadStatusIcon.innerHTML = "sync"
                uploadFlag = true;
                var htmlout = htmlEditor.getValue().replace(/<safe>|<\/safe>/i, "")
                document.getElementById('challengeInstructions').innerHTML = htmlEditor.getValue()
            } else {
                html_uploadStatusDiv.style.backgroundColor = "#00ff00"
                html_uploadStatusText.innerHTML = "Saved"
                html_uploadStatusIcon.innerHTML = "cloud_done"
            }
        }, 100);
        setInterval(() => {
            if (uploadInstanceCount == 1 && uploadFlag) {
                uploadInstanceCount += 1;
                var toUpload = editor.getValue()
                var html_toUpload = htmlEditor.getValue()
                fetch('/contentset', {
                        method: 'POST', // or 'PUT'
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            contentID: myContentID,
                            code: toUpload,
                            instructions: html_toUpload
                        }),
                    })
                    .then(() => {
                        knowCode = toUpload;
                        html_knowCode = html_toUpload;
                        uploadInstanceCount = 1;
                        uploadFlag = false;
                    })
            }
        }, 3000);
        // document.querySelector('body').addEventListener('resize', editor.layout())
    }));

    function runcode() {
        runbutton.classList.add("fancybutton_half")
        runbutton.innerHTML = "Running..."
        fetch('/runcode', {
                method: 'POST', // or 'PUT'
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    code: editor.getValue(),
                    args: document.getElementById('argin').value
                }),
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                runbutton.innerHTML = "Tests Complete"
                document.getElementById('resultText').innerHTML = data['result']
                runbutton.classList.add("fancybutton_on")
                runbutton.classList.remove("fancybutton_half")
            })
            .catch((error) => {
                console.error('Error:', error);
                runbutton.innerHTML = "Server Error"
                runbutton.classList.add("fancybutton_error")
                runbutton.classList.remove("fancybutton_half")
            });
    }

    function startChangeTitle() {
        let input = document.querySelector("#changeTitle input")
        input.value = document.getElementById('challengeName').innerHTML;
        showModal('changeTitle')
        input.focus()
    }

    function completeChangeTitle() {
        let input = document.querySelector("#changeTitle input")
        topAlert("Changing title...")
        closeModal('changeTitle')
        fetch('/contentset', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    contentID: myContentID,
                    title: input.value
                }),
            })
            .then(() => {
                document.getElementById('challengeName').innerHTML = input.value
                topAlert("Title changed.")
            })
    }

    var mainApp = document.querySelector(".editor-main")
    var modalContainer = document.querySelector(".modalContainer")

    function showModal(id) {
        var modal = document.getElementById(id)
        modal.style.transform = 'scale(1)'
        modalContainer.style.pointerEvents = 'all'
        modal.style.opacity = '1'
        mainApp.style.filter = 'contrast(0.5)'
        mainApp.style.pointerEvents = 'none'
    }

    function closeModal(id) {
        var modal = document.getElementById(id)
        modal.style.transform = 'scale(0.8)'
        modalContainer.style.pointerEvents = 'none'
        modal.style.opacity = '0'
        mainApp.style.filter = 'none'
        mainApp.style.pointerEvents = 'all'
    }
</script>
{% endblock %}