{% extends "header.html" %} {% set hideEditorButton = True %} {% block content %}
<link rel="stylesheet" href="static/editorstyle.css">
<div class="modalContainer">
    <div id="changeTitle" class="modal">
        <h1>Change Title</h1>
        <input onkeydown="if(event.keyCode == 13) {completeChangeTitle();}" type="text" style="width: 100%; box-sizing: border-box; height: 32px;" placeholder="New title">
        <button style="margin-top: 16px;" onclick="completeChangeTitle()">Change Title</button>
        <button class="hoverfancy" style="position: absolute; top: 16px; right: 16px; width: 48px; height: 48px; display: flex; align-items: center; justify-content: center;" onclick="closeModal('changeTitle')"><i class="material-icons" style="color: white;">close</i></button>
    </div>

    <div id="changeConfiguration" class="modal">
        <h1>Edit Config</h1>
        <div style="display: flex; flex-direction: row; align-items: center;">
            <label style="margin-right: 10px;" for="timeout">Timeout: </label>
            <input id="timeoutValue" name="timeout" onkeydown="if(event.keyCode == 13) {completeChangeConfiguration();}" type="text" style="width: 100%; box-sizing: border-box; height: 32px;" placeholder="Timeout">
        </div>
        <button style="margin-top: 16px;" onclick="completeChangeConfiguration()">Change Configuration</button>
        <button class="hoverfancy" style="position: absolute; top: 16px; right: 16px; width: 48px; height: 48px; display: flex; align-items: center; justify-content: center;" onclick="closeModal('changeConfiguration')"><i class="material-icons" style="color: white;">close</i></button>
    </div>
</div>
<div class="editor-main" onresize="editor.layout()">
    <div id="descriptionSidebar" class="sidebar">
        <h1 id="contentTitle" style="margin-bottom: 0;">Loading...</h1>
        {%if editorType != 'editor_challenge'%}
        <button style="margin: 12px; margin-left: 0;" onclick="startChangeTitle()">Change Title</button>{%endif%}
        <p style="margin-top: 24px;" id="contentDescription">Loading...</p>
        <!-- <p id="contentDescription">This is a really hard challenge. It is unlikely you will be able to complete it. Use a <code>return</code> statment to return the string.</p> -->
    </div>
    <div class="threeCenter">
        {%if editorType == 'editor_standalone'%}
        <div class="tabs">
            <div onclick="changeEditorTo('code')" class="editor-tab_code clickfancy">Code</div>
            <div onclick="changeEditorTo('description')" class="editor-tab_description clickfancy">Description</div>
        </div>
        {%endif%} {%if editorType == 'challenge'%}
        <div class="tabs">
            <div onclick="changeEditorTo('code')" class="editor-tab_code clickfancy">Solution</div>
            <div onclick="changeEditorTo('starterCode')" class="editor-tab_starterCode clickfancy">Starter Code</div>
            <div onclick="changeEditorTo('description')" class="editor-tab_description clickfancy">Description</div>
        </div>
        {%endif%} {%if editorType == 'editor_challenge'%}
        <div class="tabs">
            <div onclick="changeEditorTo('code')" class="editor-tab_code clickfancy">Code</div>
        </div>
        {%endif%}
        <div id="monacoContainer"></div>
    </div>
    <div id="argsSidebar" class="sidebar">
        <h1>{%if editorType == 'challenge'%}Prepare Tests{%else%}Run and Test{%endif%}</h1>
        <button id="runbutton" onclick="runcode()" class="fancybutton fancybutton_warn" style="width: 100%; margin: 0;" onmouseover="runButtonHovered()" disabled><i class="material-icons">info</i><span>Connecting to ECWS</span></button>
        <!-- <div style="display: flex; flex-direction: column; align-items: center; width: 100%;">
        </div> -->
        <div id="compilerError" style="display: none; flex-direction: column; align-items: center; color: #F88;">
            <p style="display: flex; align-items: center; margin-bottom: 8px;"><i class="material-icons" style="margin-right: 8px;">warning</i> Compiler Error</p>
            <p id="compilerErrorText" class="monofont" style="margin: 0; font-size: 12px; align-self: flex-start;">Error not displayed.</p>
        </div>
        {%if editorType == 'editor_challenge'%}
        <div id="challengeCompletedMessage" style="display: none; flex-direction: column; align-items: center; color: #8F8;">
            <p style="display: flex; align-items: center; margin-bottom: 8px;"><i class="material-icons" style="margin-right: 8px;">check_circle</i> Challenge Completed</p>
        </div>{%endif%}
        <div id="argslist" style="min-height: 24px;">
            <template class="arg_readonly_temp">
                <div class="arg_readonly arg">
                    <div class="inputdiv">
                        <p>( <span class="argText"></span> )</p>
                    </div>
                    <p class="resultText monofont"><i class="material-icons outputArrow" style="width: 24px; transform: translateY(25%);">arrow_forwards</i> <span class="resultOutput">No output</span></p>
                </div>
            </template>
            <template class="arg_temp">
                <div class="arg_mutable arg">
                    <div class="inputdiv">
                        <p>(</p>
                        <input type="text" class="argin monofont" placeholder="args" size="1">
                        <p>)</p>
                        <button class="removeButton hoverfancy"><i class="material-icons">close</i></button>
                    </div>
                    <p class="resultText monofont"><i class="material-icons outputArrow" style="width: 24px; transform: translateY(25%);">arrow_forwards</i> <span class="resultOutput">No output</span></p>
                </div>
            </template>
        </div>
        <div style="display: flex; flex-direction: column; align-items: center; width: 100%;">
            <button class="hoverfancy" onclick="newarg()" style="padding-right: 12px; margin-top: 12px;"><i class="material-icons">add</i> New Test</button> {%if editorType != 'editor_challenge'%}
            <button id="setConfiguration" class="hoverfancy" onclick="startConfiguration()" style="padding-right: 10px; margin-top: 12px;"><i class="material-icons" style="margin-right: 4px; font-size: 24px;">tune</i> Config</button> {%endif%}
        </div>
    </div>
</div>
<div id="uploadStatusDiv" class="uploadStatusDiv uploadStatusColored"><i id="uploadStatusIcon" class="material-icons" style="margin-right: 4px;">cloud_done</i><span id="uploadStatusText">Saved</span></div>
<div class="uploadStatusLine uploadStatusColored">something</div>
<!-- <script src="https://unpkg.com/monaco-editor@latest/min/vs/loader.js "></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.22.3/min/vs/loader.min.js" integrity="sha512-+8+MX2hyUZxaUfMJT0ew+rPsrTGiTmCg8oksa6uVE/ZlR/g3SJtyozqcqDGkw/W785xYAvcx1LxXPP+ywD0SNw==" crossorigin=" anonymous "></script>
<script>
    const editorType = "{{editorType}}";
    const myContentID = "{{myContentID}}"
</script>
<script src="/static/editor.js"></script>
{% endblock %}