{% extends "header.html" %} {% set hideNewShareButton = True %} {% set pageName = 'Change Actual Name' %} {% block content %}
<div class="topwhenmobile" style="display: flex; align-items: center; justify-content: center; flex-direction: column; width: 100%; height: 100%;">
    <div id="nameEnter" style="margin-top: 84px;">
        <form action="#" method="POST" style="display: flex; flex-direction: column; align-items: center;">
            <h1>Change Actual Name for @{{username}}</h1>
            <!-- <p>Current name is: {{currentName}}</p> -->
            <input class="hoverfancy" type="text" name="newname" placeholder="New Actual Name" value="{{currentName}}">
            <button class="hoverfancy" style="width:fit-content; margin-top: 8px;" type="submit">Change</button>
        </form>
        <p style="color: red;">{{nowerrors}}</p>
    </div>
</div>
{% endblock %}