{% extends "header.html" %} {% set hideNewShareButton = True %} {% set pageName = 'Delete Account' %} {% block content %}
<div class="topwhenmobile" style="display: flex; align-items: center; justify-content: center; flex-direction: column; width: 100%; height: 100%;">
    <div id="nameEnter" style="margin-top: 84px;">
        <form action="#" method="POST" style="display: flex; flex-direction: column; align-items: center;">
            <h1 style="color: #ff8888;">Delete Account @{{username}}</h1>
            <p>Deleting your account does not delete all your shares. <a href="/deleteallshares">Click here to delete all your shares.</a><br> If you choose not to delete all shares, they will still be accessible and editiable by other collaborators.</p>
            <input class="hoverfancy" type="password" name="password" placeholder="Password">
            <button class="hoverfancy" style="width:fit-content; margin-top: 8px;" type="submit">Delete Account</button>
        </form>
        <p style="color: red;">{{nowerrors}}</p>
    </div>
</div>
{% endblock %}