{% set appname = "CodeTools" %}
<!DOCTYPE html>
<html onclick="htmlClicked()" lang="en">

<head>
    <link rel="stylesheet" href="/static/basicstyle.css">
    <link rel="stylesheet" href="/static/header.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon"> {{ moment.include_jquery() }} {{
    moment.include_moment() }}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> {% if not noTabTitle %}
    <title> {{pageName}} - {{appname}}</title>{% endif %}
    {% block headers %} {% endblock %}
</head>

<body>
    <div style="position: fixed; display: flex; width: 100%; justify-content: center; z-index: 200;">
        <div id="alertMessage" class="invertAdaptBackground">Alert</div>
    </div>
    <div id="header"
        style="position: fixed; top: 0; width: 100%; height: 84px; display: flex; align-items: center; z-index: 50; justify-content: center;">
        <div style="display: flex; flex: 1; align-items: center;">
            <img src="../static/CodeToolsLogo.svg" class="hoverfancy"
                style="height: 64px; margin-left: 10px; justify-self: center; cursor: pointer;" alt=""
                onclick="window.location='/'">
            <h1 class="nomobile" style="margin-left: 16px; cursor: pointer; z-index: 5;" onclick="window.location='/'">
                {{appname}}</h1>
            <!-- <div style="width: 2px; height: 32px; background-color: white; margin-left: 12px; margin-right: 12px;"></div> -->
            <h2 class="nomobile" style="justify-self: flex-start; margin-left: 16px; color: lightblue">{{pageName}}</h2>
        </div>
        <div style="display: flex;">

        </div>
        <div style="display: flex; justify-content: flex-end;">
            {% if not hideButtons %} {% if not hideEditorButton %}
            <button class="hoverfancy" onclick="window.location='/testeditor'"
                style="margin-right: 16px; margin-left: 8px; height: 48px; padding-left: 16px; padding-right: 16px; background-color: #FFFFFF; color: black;">Open
                Editor</button>{% endif %}
            <button class="activefancy"
                onclick="{% if username != '' %}openProfileMenu(){% else %}window.location='/signin'{% endif %}"
                style="margin-right: 16px; height: 48px; padding-left: 10px; padding-right: 10px; display: flex; align-items: center; outline: none;">
                {% if username != "" %}
                <i class="material-icons" style="color: white;">person</i>
                <p style="margin-left: 6px; margin-right: 6px;">{{username}}</p>
                <i class="material-icons expand-in-activefancy" style="color: white;">expand_more</i>
                {% else %}
                Sign In
                {% endif %}
            </button> {% endif %}
        </div>
        <!-- <h1>{{appname}}</h1> -->
    </div>
    <div id="profileMenu" class="dropMenu"
        style="z-index: 100; display: none; position: fixed; right: 16px; top: 74px; flex-direction: column; background-color:#22222288; backdrop-filter: saturate(180%) blur(20px); padding: 1px; border-radius: 8px; animation: drop 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);">
        <button class="activefancy" onclick="window.location='/testeditor'">Test Editor</button>
        <button class="activefancy" onclick="window.location='/newchallenge'">Test Challenge</button>
        <button class="activefancy" onclick="window.location='/account'">My Account</button>
        <button class="activefancy" onclick="window.location='/signout'">Sign Out</button>
    </div>
    {% block content %} {% endblock %}
</body>
<script>
    var profileMenu = document.getElementById('profileMenu')
    var profileMenuOpen = false;
    var htmlClickOnce = false;

    function openProfileMenu() {
        if (!profileMenuOpen) {
            profileMenu.style.display = "flex";
            profileMenuOpen = true;
        }
    }

    function htmlClicked() {
        if (htmlClickOnce) {
            profileMenu.style.display = "none";
            htmlClickOnce = false;
            profileMenuOpen = false;
        } else {
            htmlClickOnce = true;
        }
    }

    var alertStack = 0;

    function topAlert(message) {
        var alertMessage = document.getElementById('alertMessage')
        alertMessage.innerHTML = message
        alertMessage.style.animationName = "alertAppear"
        alertStack++
        setTimeout(() => {
            alertStack--
            if (alertStack == 0) alertMessage.style.animationName = "alertDisappear"
        }, 4000);
    }
</script>
<script src="/static/moment.min.js"></script>

</html>