{% extends "header.html" %} {% set pageName = 'αlpha' %} {% set noTabTitle = True %} {% block content %}
<title>{{appname}}</title>
<div class="topwhenmobile"
    style="display: flex; align-items: center; justify-content: center; flex-direction: column; width: 100%; height: 100%;">
    <div style="padding: 8px; padding-top: 84px;">
        <style>
            div h1,
            h2 {
                text-align: center;
            }
        </style>
        <h1 id="bigTitle" class="big_nomobile">Write, practice, test, easy.</h1>
        <h1><span id="subtitle">A platform that lets you write Java, run it, and challenge others to do the same, right
                in your browser.</span>{% if username == "" %}<br>
            <a href="/signup">Sign Up</a> or <a href="/signin"> Sign in</a>{% else %}<br>
            <a href="/new">Open testeditor</a>{% endif %}
        </h1>
        <style>
            #onlineInfo {
                display: flex;
                width: 100%;
                flex-wrap: wrap;
            }

            #onlineInfo>div {
                display: flex;
                align-items: center;
                flex-direction: column;
                flex: 1;
                min-width: 250px;
            }

            #onlineInfo>div>h1 {
                font-size: 64px;
                margin: 0;
            }
        </style>
        <div id="onlineInfo">
            <div>
                <h1 id="customerOnline"></h1>
                <p>coders online right now</p>
            </div>
            <div>
                <h1 id="employeeOnline"></h1>
                <p>collaborative runner nodes online</p>
            </div>
        </div>
    </div>
</div>
<script>
    typeAnimate('bigTitle', 75)
    // typeAnimate('subtitle', 50)

    function typeAnimate(elemID, time) {
        var elem = document.getElementById(elemID)
        var message = elem.innerHTML
        elem.innerHTML = ""
        var pos = 0
        var drawInterval = setInterval(() => {
            elem.innerHTML = message.substring(0, ++pos) + "|"
            if (pos >= message.length) {
                clearInterval(drawInterval);
                elem.innerHTML = message
            }
        }, time);
    }

    let poprxws = new WebSocket("wss://upstairs-direct.secure1.cy2.me/ecws/poprx")
    poprxws.addEventListener('message', (event) => {
        let data = JSON.parse(event.data)
        // let output = data.customers + " coding right now, " + data.employees + " collaborative runner nodes online"
        // document.getElementById('onlineNowText').innerHTML = output
        document.getElementById('customerOnline').innerHTML = data.customers
        document.getElementById('employeeOnline').innerHTML = data.employees
    })
</script>
{% endblock %}