{% extends "header.html" %} {% set hideNewShareButton = True %} {% set pageName = 'New Share' %} {% block content %}
<div class="topwhenmobile" style="display: flex; align-items: center; justify-content: center; flex-direction: column; width: 100%; height: 100%;">
    <div id="shareEnter" style="margin-top: 84px;">
        <style>
            @media screen and (min-width: 600px) {
                /* form input,
                form textarea,
                form button {
                    font-size: 64px;
                    height: unset;
                    border-radius: 24px;
                    margin-bottom: 32px;
                    padding: 16px;
                }
                form input,
                form textarea {
                    text-indent: 0px;
                    background-color: transparent;
                    resize: none;
                    height: auto !important;
               } */
                form input {
                    width: 400px;
                }
                form {
                    align-items: flex-start !important;
                }
            }
        </style>
        <form action="#" method="POST" style="display: flex; flex-direction: column; align-items: center;">
            <h1 style="margin: 6px;">Create a New Share</h1>
            <!-- <textarea name="ytlink" placeholder="YouTube Link"></textarea> -->
            <input id="ytlink" type="text" name="ytlink" placeholder="YouTube Link" value="{{nowytlink}}">
            <input type="text" name="title" placeholder="Share Title" value="{{nowtitle}}">
            <button class="hoverfancy" style="width:fit-content;" type="submit">Create</button>
        </form>
        <p style="color: red;">{{nowerrors}}</p>
    </div>
</div>
<script>
    var ytlink = document.getElementById('ytlink')
    ytlink.focus()
</script>
{% endblock %}