{% extends "header.html" %} {% set pageName = 'My Shares' %} {% block content %}
<div style="padding-top: 74px; margin-left: 16px; padding-bottom: 16px; margin-right: 16px; overflow-x: auto;">
    <style>
        .mobilebr {
            display: none;
        }
        
        @media screen and (max-width: 600px) {
            .mobilebr {
                display: unset;
            }
            .mnd {
                display: none;
            }
        }
    </style>
    <h1>Created by Me</h1>
    {% if iown|length > 0%} {% for share in iown %}
    <div style="display: flex; margin-bottom: 16px;">
        <div>
            <img onclick="window.location='/dash/{{share.shareID}}'" width="128px" style="border-radius: 4px; cursor: pointer; margin-right: 16px;" src="https://i.ytimg.com/vi_webp/{{share.source}}/mqdefault.webp">
        </div>
        <div>
            <h2 style="margin-bottom: 8px; margin-top: 2px;"><a href="/dash/{{share.shareID}}">{{share.title}}</a></h2>
            <p>
                Last Modified: {{ moment(share.modified|iso8601).format('M/D/Y [at] LT') }}
                <br class="mobilebr"> <span class="mnd">•</span> Created: {{ moment(share.created|iso8601).format('M/D/Y [at] LT') }}
                <br class="mobilebr"> <span class="mnd">•</span> Viewers: {{share.viewers|length}}
                <br class="mobilebr"> <span class="mnd">•</span> Views: {{ share.viewCount }}
            </p>
        </div>
    </div>
    {% endfor %} {% else %}
    <h2>No shares. <a href="/new">Create one</a></h2>
    {% endif %}
    <!-- <h1 style="margin-top: 32px;">Created by Others</h1>
    <h2 style="margin-bottom: 8px; margin-top: 16px;">Option coming soon!
        <a href="#"></a>
    </h2> -->
    <!-- <p>Created By: cyfinfaza • Last Modified: 12/23/2021 at 23:43 • Created: 12/23/2021 at 23:43 • Viewers: 3</p> -->
</div>
{% endblock %}